main, header, section, aside, footer{
	margin-left: -25px;
	padding: 35px;
}
body {
    background-image: url('stay.jpeg') ;
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-size: cover;
	background-position: fixed;
  }

@media(max-width: 400px) {
body {
	  width: 100%;
	  
	}
  }