main, header, section, aside, footer{
	margin: 0;
	padding: 35px;
}
body {
    background-image: url('covid-19.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-size: cover;
	background-color: powderblue;
  }

main{
	background: #ffffff;
}

.header {
	background: rgb(22, 22, 22);
}

.content {
	background: white;
}


.footer{
	background: blanchedalmond;
}
.img-fluid {
	max-width: 100%;
	height: auto;
}	
h1{
	font-family: 'Krona One', sans-serif;
}